In [39]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [40]:
df=pd.read_csv("hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [42]:
mapping = {'five': 5, 'two': 2,'seven':7,'three':3,'ten':10,'eleven':11}
df=df.replace({'experience':mapping})
df.experience = df.experience.fillna(0)
df=df.astype({"experience":int})
df=df.rename(columns={"test_score(out of 10)":"test",
                      "interview_score(out of 10)":"interview",
                      "salary($)":"salary"})
df.test = df.test.fillna(df.test.median())
df

   experience  test  interview  salary
0           0   8.0          9   50000
1           0   8.0          6   45000
2           5   6.0          7   60000
3           2  10.0         10   65000
4           7   9.0          6   70000
5           3   7.0         10   62000
6          10   8.0          7   72000
7          11   7.0          8   80000

In [43]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('salary',axis='columns'),df.salary)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [44]:
print(reg.predict([[2,9,6]]))
print(reg.predict([[12,10,10]]))

[53205.96797671]
[92002.18340611]